<% include partials/header %>

<div id="fullbg">
    <div class="inner container">
    <i class="glyphicon glyphicon-tent"></i>
    <h1>Welcome to YelpCamp</h1>
    <hr>
    <p>The home of carefully selected campgrounds</p>
    <a href="/campgrounds" class="btn btn-default">View all campgrounds</a>
</div>

</div>

<% include partials/footer %>